<%= form_with(model: par_usuario) do |formulario| %>
        <div class="mb-3">
            <%= formulario.label      :nombre_usuario, class: 'form-label'%>
            <%= formulario.text_field :nombre_usuario, class: 'form-control' %>
            <% if par_usuario.errors[:nombre_usuario].any? %>
            <div class="alert alert-danger" role="alert">
                <%= par_usuario.errors[:nombre_usuario].first %>
            </div>
            <% end %>
        </div>
        
        <div class="mb-3">
            <%= formulario.label          :password, class: 'form-label' %>
            <%= formulario.password_field :password, class: 'form-control' %>
            <% if par_usuario.errors[:password].any? %>
            <div class="alert alert-danger" role="alert">
                <%= par_usuario.errors[:password].first %>
            </div>
            <% end %>
        </div>
        
        <div class="mb-3">
            <%= formulario.label          :password_confirmation, class: 'form-label' %>
            <%= formulario.password_field :password_confirmation, class: 'form-control' %>
            <% if par_usuario.errors[:password_confirmation].any? %>
            <div class="alert alert-danger" role="alert">
                <%= par_usuario.errors[:password_confirmation].first %>
            </div>
            <% end %>
        </div>

        <div class="text-end">
        <%= formulario.submit class:"btn btn-primary"%>
        </div>
    <% end %>